.create-card{
    text-align: center;
    height: 10vh;
    width: 10vw;
    gap: 4px;
    margin: 1rem;
}

.container{
    margin-top: 8%;
    margin-left: 4%;
    display: grid;
    /* grid-template-columns: repeat(2, 80px); */
  

}