Container{
    /* display:grid;
    justify-content:center;
   
    align-items: center; */
    background-image: url('https://i.imgur.com/255Y2it.jpg');
    /* padding-left: -20px; */
   
}
/* @media screen and (max-width: 500px ){
    .Container{
        height: 60vh;
        width: 50vw;
    }
    select{
        width: 40vw;
    }
    .Button{
        margin-top: 10px;
        padding-top: 15%;

    }
}

.form{
    margin: 1rem;
    justify-content:flex-end;

} */
/* Button{
    margin: 1vmin;
    cursor: pointer;

} */

/* @media screen and (max-width: 1500px) {
    select{
        width: 70vh;
        margin: 2rem;
        gap: 5px;
        padding: 1rem;
        border-radius: 1rem;
    }
} */
/* select{
    width: 60vh;
    margin: 2rem;
    gap: 5px;
    padding: 1rem;
    border-radius: 1rem;
} */