.logo{
  /* display: grid;
  justify-content: center; */
  border-radius: 60%;
  width: 130px; 
  height: 130px;
  margin-top: -25px;
}
.logo:hover{
  transform: scale(1.1);
}

.navbar{
  display: flex;
  width: 100vw;
  margin: 0%;
  padding: 0%;
  border-style: none;
  

}

/* .right-nav{
  display: flex;
  justify-content: flex-end;
} */